{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Dashboard  {% endblock %}

{% block content %}
<div class="container">
    <h4 class="text-center text-muted">Manage Listings</h4>
</div>
<section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
            {% for listing in listings %}
              <div class="col-md-6 col-lg-4 mb-4">
                 <div class="card listing-preview">
                   <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                     <div class="card-img-overlay">
                       <h2>
                         <span class="badge badge-secondary text-white">{{ listing.get_category_display }}</span>
                       </h2>
                      </div>
                      <div class="card-body">
                      <div class="listing-heading text-center">
                         <h4 class="text-primary">{{ listing.title }}</h4>
                      </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                             <div class="col-6">
                               <i class="fa fa-money"></i> Price: {{ listing.price | intcomma }}/ {{listing.get_billing_display}}</div>
                             </div>
                              <div class="row text-secondary pb-2">
                                <div class="col-12">
                                  <i class="fas fa-clock"></i> Added {{ listing.list_date | naturaltime }}</div>
                              </div>
                              <hr>
                                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'listing-update' listing.id  %}">Update </a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'listing-delete' listing.id  %}">Delete </a>
                                {% if not listing.is_published %}
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'listing-publish' listing.id  %}">Publish </a>

                                   <!-- <a href="javascript:{document.getElementById('publish').submit()}" class="btn btn-danger btn-sm mt-1 mb-1">Publish</a>
                                   <form id="publish" method="POST" action="{% url 'listing-publish' listing.id %}">
                                       {% csrf_token %}
                                       <input type="hidden">
                                   </form> -->
                                {% endif %}
                            </div>
                          </div>
                        </div>
                  {% endfor %}
        {% else %}
            <div class="col-md-12">
              <p>No Spaces Available</p>
            </div>
        {% endif %}


      </div>

      <div class="row">
        <div class="col-md-12">
           {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">&larr; Prev</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
            {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}