{% extends 'base.html' %}
{% load humanize %}

{% block title %} | Largest Spaces MarketPlaces {% endblock %}
{% block content %} 

  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Search for a spacehuru
          </h1>
          <p class="lead">The biggest brands use spacehuru</p>
          <div class="search">
            <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label class="sr-only">Category</label>
                  <select name="category" class="form-control">
                    <option selected="true" disabled="disabled">Category (All)</option>
                    {% for key, value in category_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Area</label>
                  <select name="area" class="form-control">
                    <option selected="true" disabled="disabled">Areas (All)</option>
                    {% for key, value in city_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 3 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Rooms</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Rooms (All)</option>
                    {% for key, value in bedroom_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}           
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key, value in price_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}   
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Newest Spaces</h3>
      <div class="row">
        <!-- Listing 1 -->
        {% if listings %}
           {% for listing in listings %}
           <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <div class="row justify-content-between">
                   <div class="col-4">
                  <h2>
                    <span class="badge badge-secondary text-white mx-auto ">{{ listing.get_category_display }}</span>
                   </h2>
                  </div>
                   
                 </div>
               </div>
                 <div class="card-body">
                 <div class="listing-heading ">
                    <h4 class="text-primary">{{ listing.title | truncatewords:3 }}</h4>
                      <p>
                        <i class="fas fa-map-marker text-primary"></i> {{ listing.address }}</p>
                   </div>
                      <hr>
                         <div class="row text-muted text-primary pb-2">
                           <div class="col-12">{{ listing.get_used_for_display }}</div></div>
                           <div class="row text-muted text-primary pb-2">
                             <div class="col-12">
                              Space By <i class="fas fa-user"></i><a class="mr-2" href="{% url 'user-listings' listing.realtor.username %}">{{ listing.realtor }}</a>
                           </div>
                         </div>
                         
                         <div class="row py-2 text-muted ">
                             <div class="col-12">
                               KES {{listing.price | intcomma }} Per {{ listing.get_billing_display }} 
                                </div>
                           </div>
                         <hr>
                         <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
                         </div>
                     </div>
                   </div>
                   
    
           {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Listings Available!</p>
          </div>
        {% endif %}
        
      </div>
    </div>
  </section>
  <section id="type1">
  <div class="container py-3">
    <div class="card-deck">
    <div class="card">
      <a href="{% url 'wedding-spaces'%}">
        <img class="card-img-top" src="https://lh3.googleusercontent.com/rkRZWMDZ5IbMOQyD-B08k9wKYOIvzW4PI6ToNfEE6nyTjT7WENssrTZU00EnT7clGUxRO_Mz_sq8_BSmIFIjEFMQjjIffqmZ=s750" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Spaces For Weddings</h5>
          <p class="card-text"></p>
        </div>
    </a>
  </div>
  <div class="card">
    <a href="{% url 'travel-spaces'%}">
        <img class="card-img-top" src="http://static.asiawebdirect.com/m/bangkok/portals/bali-indonesia-com/homepage/top10/top10-budget-hotels-sanur/pagePropertiesImage/top10-budget-hotels-sanur.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Spaces For Travel & Hospitality</h5>
          <p class="card-text"></p>
        </div>
      </a>
    </div>
    </div>
  </div>
</section>
<section id="type1">
    <div class="container py-3">
      <div class="card-deck">
      <div class="card">
        <a href="{% url 'accommodation-spaces'%}">
          <img class="card-img-top" src="https://t-ec.bstatic.com/images/hotel/max1024x768/672/67256505.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spaces For Accomodation</h5>
            <p class="card-text"></p>
          </div>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'popup-spaces'%}">
          <img class="card-img-top" src="https://blog-content.thestorefront.com/mag/wp-content/uploads/2017/07/pop-up-store-gecko.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spaces For Pop up Stores</h5>
            <p class="card-text"></p>
          </div>
        </a>
      </div>
      </div>
    </div>
  </section>
  <section id="type1">
      <div class="container py-3">
        <div class="card-deck">
        <div class="card">
          <a href="{% url 'office-spaces'%}">
            <img class="card-img-top" src="https://twigcowork.com/wp-content/uploads/2018/04/Twig-3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Spaces for Office & Co-work</h5>
              <p class="card-text"></p>
            </div>
        </a>
      </div>
      <div class="card">
        <a href="{% url 'foodanddrink-spaces'%}">
            <img class="card-img-top" src="http://lyraoko.com/wp-content/uploads/2017/03/nyama-mama-delta-lyra-aoko-11.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Spaces For Food & Drink</h5>
              <p class="card-text"></p>
            </div>
          </a>
        </div>
        </div>
      </div>
    </section>
    <section id="type1">
        <div class="container py-3">
          <div class="card-deck">
          <div class="card">
            <a href="{% url 'wellness-spaces'%}">
              <img class="card-img-top" src="https://media.glassdoor.com/l/ca/60/90/4d/free-weights-in-the-gym.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Spaces for Health & Wellness</h5>
                <p class="card-text"></p>
              </div>
          </a>
        </div>
        <div class="card">
          <a href="{% url 'fun-spaces'%}">
              <img class="card-img-top" src="http://planetrovers.com/wp-content/uploads/2016/09/maxresdefault-1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Spaces For Fun & Experiences </h5>
                <p class="card-text"></p>
              </div>
            </a>
          </div>
          </div>
        </div>
      </section>
      <section id="type1">
        <div class="container py-3">
          <div class="card-deck">
          <div class="card">
            <a href="{% url 'meeting-spaces'%}">
              <img class="card-img-top" src="https://www.ncl.com/sites/default/files/MeetingRoom.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Spaces for Meetings</h5>
                <p class="card-text"></p>
              </div>
          </a>
        </div>
        <div class="card">
          <a href="{% url 'event-spaces'%}">
              <img class="card-img-top" src="https://boomtownbrew.com/wp-content/uploads/2018/03/Boomtown-Private-Event-Space-7-1030x686.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Spaces For Events </h5>
                <p class="card-text"></p>
              </div>
            </a>
          </div>
          </div>
        </div>
      </section>
     {% endblock %}