 <footer id="main-footer" class="py-4 bg-primary text-white text-center">
      <div class="container ">
        <div class="row">
        <div class="col-6">
            <a href="{% url 'search' %}?area=WE"><span class="text-white ml-4">Westlands</span></a>
            <a href=""><span class="text-white ml-4">CBD</span></a>
            <a href=""><span class="text-white ml-4">Karen</span></a>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <a href="{% url 'travel-spaces'%}"><div class="text-white ml-0">Travel</div></a>
              <a href="{% url 'foodanddrink-spaces'%}"><div class="text-white ml-0">Food & Drink</div></a>
              <a href="{% url 'storage-spaces'%}"><div class="text-white ml-0">Storage</div></a>
              <a href="{% url 'parking-spaces'%}"><div class="text-white ml-4">Parking</div></a>

            </div>
            <div class="col-4">
              <a href="{% url 'accommodation-spaces'%}"><div class="text-white ml-4">Accommodation</div></a>
              <a href="{% url 'popup-spaces'%}"><div class="text-white ml-4">Popup Stores</div></a>
              <a href="{% url 'wedding-spaces'%}"><div class="text-white ml-4">Weddings</div></a>
              <a href="{% url 'entertainment-spaces'%}"><div class="text-white ml-4">Entertainment</div></a>

            </div>
            <div class="col-4">
              <a href="{% url 'shopping-spaces'%}"><div class="text-white ml-4">Shopping</div></a>
              <a href="{% url 'fun-spaces'%}"><div class="text-white ml-4">Fun & Experiences</div></a>
              <a href="{% url 'wellness-spaces'%}"><div class="text-white ml-4">Wellness</div></a>
              <a href="{% url 'meeting-spaces'%}"><div class="text-white ml-4">Meetings</div></a>

            </div>
          </div>
        </div>
      </div>
      </div>
      Copyright &copy;
    <span class="year"></span> Spacehuru
    </footer>
    