{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'partials/_alerts.html' %}

    <div class="container">
      <div class="container">
        <div class="container">
            <img class="img-fluid" src="{{ user.profile.image.url }}" >
       </div>
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
      <form enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ p_form | crispy}}
                {{ u_form | crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}