{% extends 'base.html' %}
{% load humanize %} 
{% block content %}
<div class="container">
    <h1>WishListed Listings</h1>
</div>
<section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% with profile.favourites.all as favourite_listings %}
        {% if listings %}
            {% for listing in listings %}
              <div class="col-md-6 col-lg-4 mb-4">
                 <div class="card listing-preview">
                   <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="">
                     <div class="card-img-overlay">
                       <h2>
                         <span class="badge badge-secondary text-white">{{ listing.get_category_display }}</span>
                       </h2>
                      </div>
                      <div class="card-body">
                      <div class="listing-heading text-center">
                         <h4 class="text-primary">{{ listing.title }}</h4>
                      </div>
                        <hr>
                        <div class="row py-2 text-secondary">
                             <div class="col-6">
                               <i class="fa fa-money"></i> Price: {{ listing.price | intcomma }}/ {{listing.billing}}</div>
                             </div>
                              <div class="row text-secondary pb-2">
                                <div class="col-12">
                                  <i class="fas fa-clock"></i> Added {{ listing.list_date | naturaltime }}</div>
                              </div>
                              <hr>
        
                            </div>
                          </div>
                        </div>
                  {% endfor %}
        {% else %}
            <div class="col-md-12">
              <p>No Listings Available</p>
            </div>
        {% endif %}
        {% endwith %}

      </div>

      <div class="row">
        <div class="col-md-12">
           {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

          {% endif %}
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}