{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<h1 id="head">
  <img src="{% static 'img/logo.png' %}" alt="PropertyHuru" class="brand_img" height="50" width="60">
  SpaceHuruAdmin Area
</h1>
{% endblock %}
{% block extrastyle %}
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}